{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hiii! I'm Krishna Sharma studying Computer Science at Indian Institute of Information and Technology Guwahati</p>
        <p>I'm interested in python development and work as a free lancerI'm also interested in Machine Learning, Data Science and Cloud Computing</p>
        <p>I'm kind off workaholic and well disciplined. Apart from tech I'm interested in fitness, MMA, cricket and football</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}